body{
   background:linear-gradient(135deg,#1d2b64, #f8cdda);
    
}

.logo{
 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
}

.logo img{
    border-radius: 30px;
  
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 100vh;
    
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.my-link{
    text-decoration: none;
    background-color: #043f53;
    color: rgb(246, 244, 244);
    padding: 10px 150px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    font-family: sans-serif;
    display: block;
    font-size: 30px;
    
    
}

.my-link:hover{
    background-color: #eef1f4;
    color: #080b0c;
    transform: scale(1.05);
}

.center-image{
    border-radius: 50px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow:  0 10px 30px rgba(0,0,0,0.5);
   
}

.sambyby{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 15px;
    border-top: 1px solid #161515;
    margin-top: 10px;
}

.samconn{
    display: flex;
    gap: 200px;
   
    
}

.samconn img{
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.samconn img:hover{
    transform: scale(1.1);
}

.contname{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}





